body {
	font-family: 'Questrial';
	display: flex;
	justify-content: center;
}

.repl-link {
	position: absolute;
	right: 1em;
	top: calc(1em + 60px);

	padding: 1em;
	
	background: #5192B3;
	color: white;

	text-decoration: none;
}

.markdown {
	color: rgb(89, 89, 89);
	line-height: 1.6;
	background: #FFF;
	max-width: 800px;
	font-size: 16px;
	padding-left: 20px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
	color: rgb(89, 89, 89);
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
}

.markdown h1 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 36px;
}

.markdown h2 {
	font-size: 26px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 30px;
}

.markdown h3 {
	font-size: 24px;
	line-height: 26px;
}

.markdown h4 {
	font-size: 22px;
	line-height: 24px;
}

.markdown h5 {
	font-size: 20px;
	line-height: 22px;
}

@media all and (max-width:720px) {
  .repl-link {
    display: none;
  }
	.markdown h1 {
		font-size: 28px;
	}
	.markdown h2 {
		font-size: 24px;
	}
	.markdown h3 {
		font-size: 22px;
	}
	.markdown h4 {
		font-size: 20px;
	}
	.markdown h5 {
		font-size: 18px;
	}
}

.markdown p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.markdown ul {
	padding-left: 5px;
}

.markdown ol {
	padding-left: 25px;
}

.markdown ul {
	list-style: none;
}

.markdown ul,
.markdown ol {
	margin: 20px 0;
}

.markdown ul>li:before {
	content: '• ';
	line-height: 0;
	color: rgb(89, 89, 89);
}

.markdown ul>li>ul>li:before {
	content: '◦ ';
	line-height: 0;
	color: rgb(89, 89, 89);
}

.markdown ul>li {
	padding-left: 0.5em;
	text-indent: -0.7em;
}

.markdown ol>li {
	text-indent: 0;
}

.markdown li>ul,
.markdown li>ol {
	margin-left: 10px;
}

.markdown pre {
	overflow: visible;
	padding: 10px;
	margin: 20px 0px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(217, 217, 217);
	border-radius: 4px;
	word-break: break-all;
	word-wrap: break-word;
	color: rgb(89, 89, 89);
}

.markdown code {
	font-size: 0.8em;
	padding: 2px 4px;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 2px;
}

.markdown pre code {
	font-size: 12px;
	display: block;
	overflow-x: auto;
	color: rgb(89, 89, 89);
	border: none;
	background-color: rgb(245, 245, 245);
}

.markdown code,
.markdown pre {
	line-height: 18px;
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.markdown blockquote {
	font-style: italic;
	border-left: 3px solid black;
	padding-left: 20px;
}

.markdown a img {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.markdown img {
	max-width: 100%;
}


.markdown a {
	color: #5192B3;
}

.markdown {
	margin-top: 5px;
}

.markdown {
	margin-bottom: 0px;
}

.sidebar {
  min-width: 260px;
  margin-right: 10px;
  border-right: 1px solid rgb(222, 222, 222);
  padding: 1em;
}

.sidebar-heading {
  color: rgb(63, 64, 63);
  margin: 20px 0 10px;
  font-size: 14px;
  font-family: 'Questrial';
}

.sidebar-list {
  list-style: none;
  margin-left: 20px;
  line-height: 25px;
  padding: 0;
}

.sidebar-link {
  text-decoration: none;
  font-family: 'Questrial';
  color: rgb(127, 127, 127);
  border-bottom: none !important;
  margin: 5px 0;
  display: block;
}

.sidebar-link:hover {
  text-decoration: underline;
  color: rgb(180, 180, 180);
  padding-left: 7px;
  margin-left: -8px;
  border-left: 1px solid rgb(180, 180, 180);
}

.sidebar-link.active {
  color: rgb(63, 63, 63);
  font-weight: bold;
  padding-left: 7px;
  margin-left: -9px;
  border-left: 2px solid #7998a6;
}

@media screen and (max-width: 820px) {
  body {
	  display: block;
  }
}